body {
    background: #777;
    font-size: 18px;
    color: #777;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.wide-block {
    background: #ebebeb;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 40px;
    }

.two-column {
    height: 247px;
    width: 960px;
    margin: 20px 0px 20px 0px;
}

.section {
    background: #ebebeb;
    text-align: center;
    width: 495px;
    float: left;
    padding: 40px 0px 10px 0px;
}

.article {
    color:#ebebeb;
    background: #777777;
    margin: 0px 5px 5px 5px;
    padding: 20px 0px 20px 0px;
    Margin-top: 20px;
}

.article-text {
    color:#777;
    background: #ebebeb;
    padding: 10px;
    margin: 10px 20px 0px 20px;
}

.aside {
    box-sizing: border-box;
    background: #ebebeb;
    width: 445px;
    height: 100%;
    float: right;
    text-align: center;
    padding: 40px;
    }

.footer {
    clear: both;
    background: #ebebeb;
    text-align: center;
    padding: 40px;
    margin: 10px 0px 0px 0px;
    }